.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
  text-align: left;

  .header {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 320px;
    text-align: left;
    background-color: rgb(0, 145, 255);
  }

  .text {
    color: green;
  }
  .footer {
    color: blue;
  }
}
